# Ignore virtual environment
venv/
.venv/
*.txt
app.py
# Ignore Python bytecode
__pycache__/
*.py[cod]

jobs_seen.json
# Ignore environment variables
.env


# Ignore VS Code settings
.vscode/

# Ignore logs
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db
