# Ignore virtual environment
venv/
.venv/

# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore environment variables
.env
*.json

# Ignore VS Code settings
.vscode/

# Ignore logs
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db
